* {
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;	
    box-sizing:border-box;
}

html, body, header {height:100%}

html {
	font-size: 10px;
}



.nav-container {
	position: fixed;
	height: 100px;
	display: flex;
	width: 100%;
	padding: 0 3%;
	background-color: lime;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	z-index: 100;
}

.logo {
	font-size: 4.2rem;
	font-weight: bold;
	font-family: 'Sen', sans-serif;
	width:200px;
}

.topnav {
	display: flex;
	width:65%;
	justify-content: flex-end;
	align-items: center;
}

.nav-link {
	font-size:2.2rem;
	font-family: 'Source Code Pro', monospace;
	text-decoration:none;
	color:black;
	padding: 10px 15px; 
	letter-spacing: 0.5px;
}

.search-container {
	width: 15%;
	margin-left:10px;
}

#search {
	background-color: lime;
	background-image: url(../img/magnifier.png);
	background-size: 15px 15px;
	background-repeat:no-repeat;
	background-position: 0 center;
	border:none;
	padding-left:20px;
	outline: none;
	font-size: 1.6rem;
	width: 90%;
}

#search:focus {
	border-bottom: 2px solid black;
}

.header {
	background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/Cook.jpg);
	height: calc(100%-100px);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 100px;
	position: relative;
	color: white; 
	display: flex;
	justify-content: center;
	align-items: center;
}

.box {
	text-align: center;
}

h1 {
	font-size: 37px;
	font-family: 'Kanit', sans-serif;
}
p {
	font-size: 20px;
	padding:2rem;
	font-family: 'Raleway', sans-serif;
}

.header-btn, .readmore {
	width: 200px;
	height: 60px;
	font-size: 1.6rem;
	display: inline-block;
	margin-top: 40px;
	border:2px solid transparent;
	color:white;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	cursor: pointer;
	outline: none;
	border-radius: 20px;
}

.btn2 {
	margin-left: 40px;
	background-color: lime;
}

.btn1 {
	background-color: transparent;
	border: 2px solid lime;
}

.header>a>svg {
	width:40px;
	fill: lime;
}
.header>a {
	position: absolute;
	bottom: 20px;
}

.first{
	/*Text по центру*/
	text-align:center;
	/*Внутренний отступ по вертикали*/
	padding:100px 0;
}

h2 {
	font-size: 4rem;
	margin-top:2rem;
	letter-spacing: 0.7px;
	font-family: 'Oswald', sans-serif;
}

.text{
	font-size: 2rem;
	letter-spacing: 0.7px;
	/*Высота строки*/
	line-height: 1.4;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	max-width: 700px;
	margin:auto;
}

.first-box {
	display:flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: auto;
	margin-top: 120px;
}

.first-item{
	width: 30%;	
}

h3 {
	font-size: 2.7rem;
	margin: 2.5rem 0;
	letter-spacing: 0.7px;
	font-family: 'Roboto Slab', serif;
}

.icon{
	display: block;
	margin:auto;
	width:100px;
	transition: 1.5s;
}

.second {
	background-color: #00BB3F;
}
.second-box {
	flex-wrap:wrap;
	max-width: 1200px;
	justify-content: space-between;
}
.second-item {
	width: calc(100%/3 - 2%);
	margin:1%;
	padding:6% 2%;
	background-color: white;
	border-radius: 15px;
	transition: 1.5s;
}

.readmore {
	width: 100%;
	color:black;
	background: transparent;
	border: 2px solid;
	border-radius: 15px;
	letter-spacing: 0.7px;
}

.tabs {
	width:80%;
	margin: auto;
	padding: 0;	
}

.tabs>input {
	display: none;
}

/*(label который сразу после выбранного input) внутри tabs*/
.tabs>input:checked+label {
	background-color: lime;
	border-color: red;
}

.tabs>label {
	display: inline-block;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.8rem;
	background-color: white;
	border:2px solid black;
	padding: 5px 10px;
	cursor:pointer;
	width:20%;
}

.content {
	display: none;
	padding: 5px;
	margin-top: 10px;
}

#tab_1:checked ~ #txt1, 
#tab_2:checked ~ #txt2, 
#tab_3:checked ~ #txt3,
#tab_4:checked ~ #txt4 {
	display: block;
}

.gallery-box{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
}

.img {
	width:30%;
	margin-top: 3%;
}

.fourth {
	background: #00BB3F;
}

.fourth-box {
	display: flex;
	justify-content: space-evenly;
}

.fourth-item {
	background: white;
	width: 25%;
}

.topEl {
	background-color: blue;
	padding: 25px 15px;
	height: 200px;
	clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
}

.topEl>h3 {
	margin-top: 0;
}

.buy {
	border-radius: 20px;
}

.list{
	width: 100%;
	color:black;
	background: transparent;
	border-radius: 15px;
	letter-spacing: 0.7px
}

.buy {
	width: 100%;
	height: 40px;
	color:black;
	background: white;
	border-radius: 15px;
	letter-spacing: 0.7px
	border: 4px solid black;
} 